<div class="container">
  <div class="content">
    <div class="logo">
      <img class="img-fluid" src="img/Asset1.png" alt="" />
    </div>
    <div class="title">
      <h1>Your Account is under review</h1>

      <p>
        Your Account is under review. Our Team will back to you shortly
      </p>
    </div>
    <div class="title">
      <h1>Sorry Your Account Was Not Approved</h1>

      <p>
        Sorry your account was not approved from our evaluation team
      </p>
    </div>

  </div>
</div>
