.form-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid var(--blue-gray-400, #94a3b8);
  background-color: var(--blue-gray-50, #f8fafc);
  cursor: pointer;
  appearance: none;
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  position: relative;
}

.form-group .remember {
  margin-top: 5px;
  color: #64748b;
  /* margin-right: 50px; */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}

.form-group input[type="checkbox"]:checked {
  background-color: var(--blue-gray-300, #cbd5e1);
  border-color: var(--blue-gray-500, #94a3b8);
}

.fb {
  color: #590808;

  /* Regular/13px */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  font-weight: 500;
}

.form-group input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  display: block;
  text-align: left;
  font-size: 16px;
  position: absolute;
  top: 0%;
  left: 2%;
}

.secretPinBtn button {
  border-radius: 15px;
  background: #590808;
  color: white;
  /* width: 526px; */
  height: 55px;
  /* padding: 16px; */
  color: var(--white, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 140% */
  letter-spacing: -0.2px;

  /* align-items: center; */
  gap: 10px;
}

.secretPinBtn a {
  color: var(--left_side);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.secretPinBtn p {
  margin: 9px;
  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 169.231% */
}


.after a {
  color:  gray;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.after a::after {
  content: " Create free account ";
  color: #590808;
}
