<div class="container">
  <div class="content">
    <div class="logo">
      <img class="img-fluid" src="img/Asset1.png" alt="" />
    </div>
    <div class="title">
      <span>step 3</span>
      <h1>Secret Pin</h1>
      <p>Please add your secret PIN to be allowed to login to your dashboard</p>
    </div>
    <div class="form">
      <form>
        <div class="form-group">
          <label for="secretPin">Your Secret Pin</label>
          <input type="number" class="form-control" id="secretPin" placeholder="Secret Pin" />
        </div>

        <div class="secretPinBtn d-grid mt-5">
          <button class="btn">Verify</button>
          <p>You have three attempts, and your account will be banned.</p>
          <a class="ms-3" href="">Forgot my PIN</a>

        </div>
        <div class="secretPinBtn after d-grid mt-5">
          <a class="mt-3" href="">Don't have an account? </a>
        </div>
      </form>
    </div>
  </div>
</div>
