<div class="left-side">
  <div class="container">
    <div class="content">
      <h2 class="title">Welcome to our community</h2>
      <div class="feedback">
        <div class="owl-carousel owl-theme">
          <div class="testimonial">
            <div class="stars">★★★★★</div>
            <p class="quote">
              “At Bridge BFC, we're committed to providing our clients with the
              highest level of financial management. “
            </p>
            <div class="author">
              <img
                src="img/team/team-1.jpg"
                alt="Haitham Mansy"
                class="profile-pic"
              />
              <div>
                <p class="name">MR : Haitham Mansy</p>
                <span class="role">Co-Founder, Bridge BFC</span>
              </div>
            </div>
          </div>
          <div class="testimonial">
            <div class="stars">★★★★★</div>
            <p class="quote">
              "At Bridge BFC, we're committed to providing our clients with the
              highest level of financial management."
            </p>
            <div class="author">
              <img
                src="img/team/team-3.jpg"
                alt="Haitham Mansy"
                class="profile-pic"
              />
              <div>
                <p class="name">MR : Ramy</p>
                <p class="role">Co-Founder, Bridge BFC</p>
              </div>
            </div>
          </div>
          <div class="testimonial">
            <div class="stars">★★★★★</div>
            <p class="quote">
              "At Bridge BFC, we're committed to providing our clients with the
              highest level of financial management."
            </p>
            <div class="author">
              <img
                src="img/team/team-2.jpg"
                alt="Haitham Mansy"
                class="profile-pic"
              />
              <div>
                <p class="name">ENG: Mohamed Elhossiny</p>
                <p class="role">Co-Founder, Bridge BFC</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
